In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [2]:
health = "Resources/2.12_Health_systems.csv"
happiness16 = "Resources/2016.csv"

health_df = pd.read_csv(health)
happiness16_df = pd.read_csv(happiness16)

In [48]:
health_df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [49]:
health_rename = health_df.rename(columns = {"Country_Region" : "Country", 
                                            "Health_exp_pct_GDP_2016" : "Health Expenditure % - GDP",         
                                            "Health_exp_public_pct_2016": "Health Expenditure Public %", 
                                            "Health_exp_out_of_pocket_pct_2016" : "Health EXP Out of Pocket %", 
                                            "External_health_exp_pct_2016" : "External Health Expenditure %", 
                                            "Physicians_per_1000_2009-18" : "Physicians per 1000",
                                            "Nurse_midwife_per_1000_2009-18" : "Nurse Midwife per 1000",
                                            "Specialist_surgical_per_1000_2008-18" : "Specialist Surgical per 1000",
                                            "Completeness_of_birth_reg_2009-18" : "Completeness of Birth Reg",
                                            "Completeness_of_death_reg_2008-16" : "Completeness of Death Reg", 
                                            "per_capita_exp_PPP_2016" : "Per Capita Expeniture by PPP",                       
                                            "Health_exp_per_capita_USD_2016" : "Health Expenditure Per Capita($)"
                                            })

In [50]:
happiness16_df.rename(columns = {'Country':'Country'})
happiness16_df

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [51]:
merged_dfs = pd.merge(happiness16_df, health_rename, on ='Country', how ='left')
merged_dfs

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,...,Health Expenditure Public %,Health EXP Out of Pocket %,Health Expenditure Per Capita($),Per Capita Expeniture by PPP,External Health Expenditure %,Physicians per 1000,Nurse Midwife per 1000,Specialist Surgical per 1000,Completeness of Birth Reg,Completeness of Death Reg
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,...,84.1,13.7,5565.6,5093.0,NaN,4.5,10.3,69.0,100.0,98.0
1,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,...,62.8,29.6,9836.0,7867.4,NaN,4.2,17.3,94.8,100.0,100.0
4,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,...,81.5,16.9,5063.6,4245.1,0.0,4.0,15.7,101.6,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,...,20.5,43.5,30.4,83.5,30.5,0.2,0.6,1.9,85.6,NaN
164,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,...,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
165,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,...,20.0,50.4,38.8,99.9,20.7,0.0,0.3,0.5,78.0,NaN
166,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,...,NaN,NaN,NaN,NaN,NaN,1.2,1.5,NaN,NaN,92.0
167,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,...,29.1,30.5,18.5,50.3,38.6,0.1,0.7,0.4,83.5,NaN

In [52]:
dropped_dup_merged_dfs = merged_dfs.drop_duplicates(subset =['Country'], keep = 'first').reset_index(drop= True)
dropped_dup_merged_dfs

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,...,Health Expenditure Public %,Health EXP Out of Pocket %,Health Expenditure Per Capita($),Per Capita Expeniture by PPP,External Health Expenditure %,Physicians per 1000,Nurse Midwife per 1000,Specialist Surgical per 1000,Completeness of Birth Reg,Completeness of Death Reg
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,...,84.1,13.7,5565.6,5093.0,NaN,4.5,10.3,69.0,100.0,98.0
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,...,62.8,29.6,9836.0,7867.4,NaN,4.2,17.3,94.8,100.0,100.0
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,...,81.5,16.9,5063.6,4245.1,0.0,4.0,15.7,101.6,100.0,100.0
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,...,85.1,14.5,7477.9,6203.5,0.0,4.6,18.1,67.2,100.0,100.0
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,...,77.4,20.4,4117.3,4112.1,0.0,3.8,14.7,76.3,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,...,20.5,43.5,30.4,83.5,30.5,0.2,0.6,1.9,85.6,NaN
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,...,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,...,20.0,50.4,38.8,99.9,20.7,0.0,0.3,0.5,78.0,NaN
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,...,NaN,NaN,NaN,NaN,NaN,1.2,1.5,NaN,NaN,92.0
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,...,29.1,30.5,18.5,50.3,38.6,0.1,0.7,0.4,83.5,NaN

In [53]:
dropped_dup_merged_dfs.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Province_State', 'World_Bank_Name',
       'Health Expenditure % - GDP', 'Health Expenditure Public %',
       'Health EXP Out of Pocket %', 'Health Expenditure Per Capita($)',
       'Per Capita Expeniture by PPP', 'External Health Expenditure %',
       'Physicians per 1000', 'Nurse Midwife per 1000',
       'Specialist Surgical per 1000', 'Completeness of Birth Reg',
       'Completeness of Death Reg'],
      dtype='object')